/* Minimal black and white styling */

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

p {
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}